<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Морской бой</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="main-content">
    <h1>Морской бой</h1>

    <div class="button-group">
        <a th:href="@{/register}" class="btn">Регистрация</a>
        <a th:href="@{/login}" class="btn">Войти в аккаунт</a>
    </div>
</div>

<a th:href="@{/info}" class="btn-info-corner">Об игре</a>
</body>
</html>